@use "varsnmix" as *
.pageHeader
  @include flex($justify: space-between)
  padding: 0.5rem 2rem
  background-color: $mainColor
  &__title
    display: inline-block
    margin: 0
    color: $white
  &__nav
    &__ul
      @include flex($gap: 1rem)
      padding: 0
      &__li
        list-style: none
        & a 
          color: white
          text-decoration: none