@use "modules" as *
@use "userForm"

.hidden
  display: none

.userData
  @include flex($direction: column)
  width: 100%
  &__txt
  &__data
    @include flex($justify: flex-start,$gap: 1rem)
    width: 100%
    &__editBtn
      width: 2rem
      &__img
        width: 100%
  &__update
    position: absolute
    top: 10rem
    right: 50%
    transform: translateX(50%)
    width: min(100%, 40rem)
  &__posts
    @include flex($direction: column,$align: flex-start, $gap: 1rem)
    width: 100%
    margin-top: 5rem
.pageFooter
  @include flex($justify: space-around)
  position: absolute
  bottom: 0
  width: 100%
  padding: 1rem
  &__btn
    font:
      family: Arial, Helvetica, sans-serif
      size: 1em
.profileLink
  color: $black
.userForm
  position: absolute
  top: 10rem
  right: 50%
  transform: translateX(50%)