<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app/styles/css/error.component.css" />
    <title>Error component</title>
  </head>
  <body>
    <h1>Error component</h1>
    <article data-getme class="error_element">
      <img class="error_element__img" src="/app/assets/img/warning.png" />
      <p class="error_element__message" data-emessage>afsdfasdf</p>
      <button class="error_element__close" data-eclose>Cerrar</button>
    </article>
  </body>
</html>
